@import url('/src/styles/themes.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--global-primary-bg);
  color: var(--global-text);
  transition: 0.3s ease-in-out
}

::selection {
  background-color: var(--primary-accent-bg);
  color: var(--primary-accent)
}

.topbar {
  border-bottom: var(--global-border) 3px solid;
}

.profile {
  background-color: var(--primary-accent-bg);
}

.button {
  border: var(--global-border) 3px solid;
  cursor: pointer;
}

.task {
  background-color: var(--global-primary-bg);
}

@media screen and (max-width: 1024px) {
  .taskbox{
    width: 100%
  }
}