@import url('/src/styles/themes.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--global-primary-bg);
  color: var(--global-text);
  transition: 0.3s ease-in-out
}

::selection {
  background-color: var(--global-border);
}

.topbar {
  border-bottom: var(--global-border) 3px solid;
}

.profile {
  background-color: var(--primary-accent-bg);
}

.button {
  border: var(--global-border) 1px solid;
  cursor: pointer;
}

.task {
  background-color: var(--global-card-bg);
}

.skeleton {
  background-color: var(--global-secondary-skeleton);
  border-radius: 4px;
  /* Add animation for pulsating effect (optional) */
  animation: pulse 2s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .taskbox{
    width: 100%
  }
}